<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CALL CENTER- López Jonathan</title>

  <!--Bootstrap-->
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<style>

    listado.{
      background-color: LightYellow;
    }
    main{
      padding: 6%;
    }

    h1{
      margin-top: 30px;
      text-align: center;
    }
    form {
      margin: 85px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
 
    body{
      display: flex;
      flex-direction: column;
      background-color: Lavender;
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 15px;
      text-align: center;
    }

    #lista_autos{
      display: flex;
      flex-direction: row;
      columns: 3;
      flex-wrap: wrap;
      place-content: center;
    }

    #llamadaS{
      font-weight: 900;
    }
  </style>
</head>

<body>
  <div class="listado">
  <h1 style=" font-family: fantasy;" >CALL CENTER "Pico y Placa"</h1></center>

    <!--                              CARRUSEL DE IMAGENES                        -->
  <div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{url_for('static', filename='Img/placa3.jpg')}}" alt="" class="d-block w-100" width="300px" height="600px">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='Img/placa2.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='Img/placa1.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

  <h1 style=" font-family: fantasy;" >INGRESO DE DATOS</h1></center>


  <form action="enviar" method="POST" class="form-group">
    <b><label for="llamadaU">N° LLAMADA</label></b>
    <input type="number" class="form-control" name="llamada" id="llamada_id" placeholder="Ingrese el número de la llamada"  HTMLFormElement. reset() /><br />

    <b><label for="placaU">PLACA VEHÍCULO</label></b>
    <input type="text" class="form-control" name="placa" id="placa_id" placeholder="Ingrese el número de placa"/><br />

    <b><label for="dateU">FECHA</label></b>
    <input type="date" class="form-control" name="fecha" id="fecha_id"/><br />
    
    <b><label for="timeU">HORA</label></b>
    <input type="time" class="form-control" name="hora" id="hora_id" /><br />

    <b><label for="transitaU">TRANSITA O NO</label></b><br>

    <select class="form-control" name="transita" id="transita_id">
			<option value="Transita">Transita</option>
			<option value="Alta">No Transita</option>
    </select>	<br>

<center>
    <input type="submit" class="btn btn-primary" value="Agregar" />
  </form>
  
  <form action="{{url_for('borrar')}}" method="post" class="card-body">
    <button type="submit" class="btn btn-danger mb-2">Eliminar llamadas</button>
  </form>

  <form action="{{ url_for('borrar') }}" method="post">
    <input type="texto" name="palabra"  class="form-control" id="usr" placeholder="Ingrese la llamada que desea borrar">
    <br><button type="submit" class="btn btn-danger mb-2">Eliminar una llamada</button> <br>

    <h1 style=" font-family: fantasy;" >LISTADO DE LLAMADAS</h1></center>
    <center>
    <img src="https://www.pngkit.com/png/full/828-8283588_preguntas-por-competencias-formatos-para-el-rea-de.png" width="35%" height="200px ">
    </center>
  </center>
  <div/>
<main>
  <div id="lista_autos">
    <div class="card_llamada card">
     <!-- <span id="idS">1</span>-->
      <span class="card-title" id="llamadaS"> N° LLAMADA</span>
      <span class="card-text" id="placaS"> PLACA VEHÍCULO</span>
      <span class="card-text" id="fechaS">TRANSITA O NO</span>
    </div>
  </div>
</main>
 
</body>
<script>
  var container = document.getElementById("lista_autos"), test = {{ datosF | tojson }};

for(var i = 0; i < test.length; i++){
 //Creamos los el contenedor
  var card = document.createElement('div');
  card.setAttribute("class", "card");
 //Creamos los elementos 
 // var tareaID = document.createElement('span');
 // codigoID.setAttribute("id", "idS");

 var llamadaR = document.createElement('span');
 llamadaR.setAttribute("id", "llamadaS");

 var placaR = document.createElement('span');
 placaR.setAttribute("id", "placaS");

 var transitaR = document.createElement('span');
 transitaR.setAttribute("id", "transitaS");

 
 //Creamos las variable de los datos
// var txtID = document.createTextNode(test[i].id);
 var txtLlamada = document.createTextNode(test[i].titulo);
 var txtPlaca = document.createTextNode(test[i].placa);
 var txtTransita = document.createTextNode(test[i].transita);


// ID.appendChild(txtID);
 llamadaR.appendChild(txtLlamada);
 placaR.appendChild(txtPlaca);
 transitaR.appendChild(txtTransita);
 


//  card.appendChild(tareaID);
 card.appendChild(llamadaR);
 card.appendChild(placaR);
 card.appendChild(transitaR);

}

if(test[i].transita == 'Transita') {
    card.setAttribute('style', 'background-color: red;')

  }else{
    card.setAttribute('style', 'background-color: GreenYellow;')
  }

  container.appendChild(card);

</script>


<center>  
    <div class="card-group" class="p-3 mb-2 bg-success text-black bg-opacity-25">
        <div class="card" tyle="height: 100pxx;">
            <ul class="nav flex-column">
                <li class="nav-item"><br>
                    <center> <h4 style=" font-family: fantasy;" >CALL CENTER</h4></center>
                    <a class="nav-link disabled">Copyright © Derechos Reservados - CALL CENTER</a>
                </li>
            </ul>
        </div>
    </center>
  </div>

</html>